<div id='cookie-banner' class="card card-body" style="justify-content: center; display: none;">
    <div id="zazz">
        <p style='font-size: 5rem'>
            To use our website you must agree to our
            <a href='/workouts//privacyCookiesPolicy' target="_blank"> privacy and cookie policy</a>.
        </p>
        <p>Clicking below accepts our privacy policy and cookie policy</p>
        <button id='close' class="cookieButton" id="grantCookiePermissions" onclick="darthClickClose()"> Agree to use cookies</button>
        <script src="js/CookieBanner.js"></script>
        <!-- Runs full script tag cause Glitch is dumb -->
    </div>
</div>

