<div id='cookie-banner' style='display: none'>
  <p style='font-size: 5rem'>
      By using our website, you agree to our 
      <!-- we need to add a cookie policy here -->
      <a href='insert-link'>cookie policy</a>.
  </p>
  <p>Clicking below accepts the usage of cookies needed to make this site work, and any compenents included (which may include third-party cookies from things like google fonts)</p>
  <!-- <button id='close'>&times;</button> -->
  <button id='close'> Agree to use cookies</button>
  <script src="js/CookieBanner.js"></script>
</div>