<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<body>
    <ul class="menu">
      <li><a class="menuItem" href="#">Home</a></li>
      <li><a class="menuItem" href="#">Login</a></li>
      <li><a class="menuItem" href="#">Delete My Account</a></li>
      <li><a class="menuItem" href="#">Revoke CookieAccess</a></li>
    </ul>
    <button class="hamburger">
      <!-- material icons https://material.io/resources/icons/ -->
      <i class="menuIcon material-icons">menu</i>
      <i class="closeIcon material-icons">close</i>
    </button>
    <script src="js/hamburger.js"></script>
  </body>