<button class='logoutButton cookieButton' id="logoutButton" style="box-shadow: 0px 0px 20px #000;
padding: 3%;" >Logout</button>
<script src="js/logoutButton.js"></script>
<!-- 
style=" background-color: #2d3047;
color: #fffd82; border: 1px solid #2d3047;" -->