<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy and Cookie Policy</title>
    <!-- <link rel="stylesheet" href="css/cookiesPrivacy.css"/> -->
    <link rel="stylesheet" href="/css/cookiesPrivacy.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <Main id="main">
        <div id="glowStick" class="card card-body per80" style="justify-content: center;">
            <!-- <section id="overview" class="container"> -->
            <div class="card card-body" style="justify-content: center;">
                <h2>Overview</h2>
                <p>This site requires the use of cookies to manage state and run. We do not purposefully use cookies in dark patterns that track users. We require the minimum amount of cookies for the app to run. We value user privacy and try to keep all cookies to a minimum, and respect privacy where we can. You MUST be of legal age in your area to create an account and use this site, if not please leave immediately.</p>
                </div>
            <!-- </section> -->
            <!-- <section id="privacy" class="container"> -->
                <div class="card card-body" style="justify-content: center;">
                <h2>Privacy</h2>
                <p>To the best of our ability we limit what data we collect beyond the minimum needed for you to create an account. We do not use or sell your data.</p>
                </div>
            <!-- </section> -->
            <!-- <section id="'cookies" class="container"> -->
                <div class="card card-body" style="justify-content: center;">
                <h2>Cookies</h2>
                <p>We require the use of cookies for the core functionality of our site. We don't use them to track you, just the minimum to manage the functionality of the site when you:</p>
                <ul>
                    <li><span>Create an accout</span></li>
                    <li><span>Login</span></li>
                    <li><span>Use Experimental Features</span></li>
                </ul>
                <p>If you do not wish to use cookies, we understand, but that will disallow access to our site behind the cookie page.</p>
            </div>
            <!-- </section> -->
            <!-- <section id="rights" class="container"> -->
                <div class="card card-body" style="justify-content: center;">
               <h2>Users and Conduct</h2>
                <ul>
                    <li><span>As a user of our site, you have the right to delete your account, dissallow cookies, and use and make an account.</span></li>
                    <li><span>As a user of our site you agree not to sue us, hold us liable for any damages, or otherwise cause us to incure undue costs due to malicious activity.</span></li>
                    <li><span>As a user of our site you are expected act within the realm of civility. This reflects everything from names used to how you interact with us and other users of our site. This is considered our "don't be a jerk" clause.</span></li>
                    <li><span>We reserve the right to change these rights at anytime, with or without notice, within reason.</span></li>
                </ul>
            </div>
            <!-- </section> -->
            <!-- <section id="otherStuff" class="container"> -->
            <div class="card card-body" style="justify-content: center;">
                <h2>Other Stuff</h2>
                <p>Any clause of these rights, which constitue our tentative user agreement, privacy policy, and cookie policy that is deemed unenforcable shall not render any of the others moot, only itself. We reserve the right to limit and restrict access as neccesary to our site, and you may be banned without warning for violating our policies (such as the "don't be a jerk" clause. In that event we do our best to delete your account and data.</p>
                <p>We may, at our sole discretion (and potentially without warning) delete accounts that are innactive, who have suspisious or abusive activity, or as otherwise needed to ensure our website is able to remain online. There is no guarentee of account access, or retention, so please do not enter or store important information here. This app is solely meant to be a way to track workouts for yourself, for people of legal age, in the USA.</p>
            </div>
            <!-- </section> -->
            
            <!-- <section id="contact" class="container"> -->
            <div class="card card-body" style="justify-content: center;">
                <!-- add a masked email contact in future? idk -->
                <h2>Questions / Contact</h2>
                <p>For questions, inquiries, to delete your account, or other comments please contact us at 100DevsWorkoutApp > gmail</p>
               <h3>Close This Tab to Return to Previous Page</h3>
            </div>
        </div>
    </Main>
</body>
</html>